body {
	margin: 0;
	font-family: Roboto;
}

.App {
}
/* NAVBAR ----------------- */
.NavBar-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	box-sizing: border-box;
	justify-items: center;
	align-items: center;
	align-content: center;
	height: 3rem;
	background-color: #8dd7cf;
	border-top: solid 2px #1aae9f;
	border-bottom: solid 2px #1aae9f;
}

.NavBar-container > h2 {
	font-family: 'Roboto';
	font-size: 2rem;
	/* position: ; */
}

.navitems-avatar {
	display: flex;
	justify-items: center;
	align-items: center;
	align-content: center;
	margin-left: 10em;
}

.NavBar-Bottom-container {
	display: none;
}

.logout-btn {
	background: none;
	border: none;
	font-family: Roboto;
	/* margin-left: 2em; */
	transition: 0.8s;
	width: 3em;
	height: 2em;
}

.logout-btn:hover {
	background-color: red;
	border-radius: 10px;
	transition: 0.8s;
	width: 8em;
}

/* GAMEDETAILS ------------ */
.GameDetails-container {
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	font-family: Roboto;
	/* width: 80vw; */
}

.gamedetails-cover {
	margin: 0 auto;
}

.gamedetails-cover > img {
	float: left;
	border-radius: 10px;
	margin: 1em;
}

.gamedetails-cover > ul {
	/* display: ; */
	/* grid-template-columns: 1fr; */
	/* margin-left: 9.8em; */
	/* border: solid 1px black; */
	list-style: none;
}

.gamedetails-cover > ul > li {
	/* display: flex; */
	padding: 0.1em;
	margin: 0.25em;
}

.gamedetails-cover > ul > li > span {
	/* display: flex; */
	/* justify-content: space-between; */
}

.gamedetails-cover > h2 {
}

.gamedetails-cover > h3 {
	font-family: Roboto;
	margin-top: -0.5em;
}

.gamedetails-info {
}

.ViewGames-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 100%;
}

div.cover-div > img {
	width: 150px;
	height: 200px;
	border-radius: 10px;
	margin: 1rem;
}

.GameCard-container {
	margin: 1em;
	text-align: center;
	font-family: Roboto;
}

.game-card {
	border: solid 1px lightgray;
	min-width: 16rem;
	max-width: 16rem;
	height: 21rem;
}

.game-card-details > h3 {
	margin-top: -0.5em;
	font-size: 1em;
}

.game-card-details > h4 {
	margin-top: -0.7em;
	margin-left: 1em;
	text-align: left;
	font-size: 0.8em;
}
/* SIGNIN ---------------------- */
.SignIn-container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.SignIn-container > h1 {
	font-family: Roboto;
	font-size: 5rem;
	font-weight: bold;
	margin-bottom: 0.3em;
}

.SignIn-container > h2 {
	font-family: Roboto;
	font-size: 1.5em;
	font-style: italic;
	margin-top: -1em;
}

.signin-text {
	font-size: 0.7rem;
	font-family: Roboto;
	font-weight: bold;
}

.signin-input-username {
	border: solid 1px lightgray;
	border-radius: 0.25em;
	padding: 0.6em;
	margin: 0.25em;
	width: 300px;
	height: 35px;
}

.signin-input-username::placeholder {
	color: lightgray;
}

.signin-btn {
	background-color: black;
	color: white;
	border-radius: 0.25em;
	width: 50%;
	border: solid 1px lightgray;
	font-family: Roboto;
	font-weight: bold;
	transition: 0.7s;
	margin: 0.4em;
	height: 35px;
}

.signin-btn:hover {
	background-color: green;
	color: white;
	transition: 0.7s;
	width: 95%;
}

.signin-signup-btn {
	background-color: rgb(56, 56, 240);
	color: white;
	border-radius: 0.25em;
	width: 11em;
	border: solid 1px lightgray;
	font-family: Roboto;
	font-weight: bold;
	transition: 0.7s;
	margin: 0.4em;
	height: 35px;
}

.signin-signup-btn:hover {
	background-color: green;
	color: white;
	transition: 0.7s;
	width: 20em;
	border: transparent;
}

.signup-btn {
	background-color: black;
	color: white;
	border-radius: 0.25em;
	width: 50%;
	border: solid 1px lightgray;
	font-family: Roboto;
	font-weight: bold;
	transition: 0.7s;
	margin: 0.4em;
	height: 35px;
}

.signup-btn:hover {
	background-color: rgb(47, 47, 240);
	color: white;
	transition: 0.7s;
	width: 100%;
	border: transparent;
}

.signin-input-username-div {
	font-family: Roboto;
	font-weight: bold;
	font-size: 0.5em;
	width: 100%;
}

.social-auth-icons-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
}

.social-auth-list {
	list-style: none;
	display: inline;
	margin: 1em;
}

.signin-line-divider {
	background-color: lightgray;
	width: 15em;
	height: 0.1em;
	margin: 1em;
}

/* SIGNUP ------------------- */
.SignUp-container > h1 {
	font-family: Roboto;
	font-size: 5rem;
	font-weight: bold;
	margin-bottom: 0.3em;
}

.cancel-btn {
	background-color: red;
	color: white;
	border-radius: 0.25em;
	width: 50%;
	border: solid 1px lightgray;
	font-family: Roboto;
	font-weight: bold;
	transition: 0.7s;
	height: 35px;
}

.cancel-btn:hover {
	/* background-color: green; */
	color: white;
	transition: 0.7s;
	width: 100%;
}
/* GAMECARD -----------------  */
div.game-card-details > h3 {
}

div.game-card-details > b {
}

/* USERHOME --------------- */
.UserHome-container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	justify-content: center;
	justify-items: center;
	align-content: center;
	height: 100vh;
}

/* USERDETAILS --------*/
.UserDetails-container {
}

.userdetails-keys {
}

/* USER GAMES -------------- */

.userhome-usergames-div {
	margin-left: 2em;
	overflow-y: scroll;
	width: 80vw;
}

.userGames-container {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr;
	/* border-left: solid 1px lightgray; */
	margin: 2em;
	margin-right: 20em;
	font-family: roboto;
	width: 70em;
}

.usergames-info {
	margin-left: 1em;
}

.usergames-info > h2 {
	margin-top: 0.2em;
}

.usergames-info > h3 {
	margin-top: -0.6em;
}

.usergames-cover {
	/* width: 500px; */
}

.usergames-cover > img {
	margin-top: 0.4em;
	width: 100%;
	border-radius: 10px;
	box-shadow: 6px 6px #8dd7cf;
}

.userhome-usergames-div > h1,
h2 {
	font-family: Roboto;
}

.userhome-line {
	width: 80rem;
	border-bottom: solid 1px gray;
}

/* VIEWREVIEWS / REVIEWCARD---------------- */
.ReviewForm-container {
	background-color: #4b5c6b;
	display: flex;
	width: 100%;
	flex-direction: column;
	margin: 0 auto;
}

.ReviewForm-container > h1 {
	font-family: Roboto;
	text-align: center;
	align-items: center;
}

.review-div {
	/* border: solid 5px yellow; */
	margin: 0 auto;
	width: 40vw;
}

.ReviewCard-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	border-bottom: solid 1px lightgray;
}

.reviews-pencil-icon-div {
	text-align: right;

	/* border: solid 1px red; */
}

.reviews-pencil-icon {
	background: #4b5c6b;
	border: 0;
	opacity: 25%;
	transition: 0.5s;
}

.reviews-pencil-icon:hover {
	opacity: 100%;
	transition: 0.5s;

	/* background: green; */
}

.ReviewCreate-container {
}

.ReviewCreate-container > h1 {
	text-align: center;
}
.review-create-form {
	margin: 0 auto;
	text-align: left;
	width: 40vw;
}

.review-create-title-input {
	border: solid 1px lightgray;
	border-radius: 0.25em;
	padding: 0.6em;
	margin: 0.25em;
	width: 300px;
	height: 35px;
}

.review-create-descr-input {
	border: solid 1px lightgray;
	border-radius: 0.25em;
	padding: 0.6em;
	margin: 0.25em;
	width: 40em;
	height: 10em;
}

.review-create-descr-input,
.review-create-title-input::placeholder {
	font-family: Roboto;
}

@media all and (max-width: 414px) {
	.GameDetails-container {
		justify-items: center;
		height: 100vh;
		width: 100vw;
	}
	.gamedetails-cover {
		margin: 0 auto;
		text-align: center;
	}

	.gamedetails-cover2 {
		margin: 1em;
	}
	.gamedetails-cover2 > ul {
		margin-left: -2.5em;
		list-style: none;
	}

	.gamedetails-cover2 > ul > li {
		padding: 0;
		margin: 0em;
	}

	.gamedetails-cover > ul > li > span {
		display: flex;
		justify-content: space-between;
	}

	.gamedetails-cover > h2 {
		text-align: center;
	}

	.gamedetails-cover > h3 {
		font-family: Roboto;
		margin-top: -0.5em;
		margin-left: 0;
	}

	.gamedetails-info {
	}

	.ReviewForm-container {
		background-color: #4b5c6b;
		display: flex;
		flex-direction: column;
		width: 100vw;
		/* height: 100vh; */
	}

	.ReviewForm-container > h1 {
		font-family: Roboto;
		text-align: center;
		align-items: center;
	}

	.review-div {
		/* border: solid 5px yellow; */
		margin: 0 auto;
		width: 90vw;
		margin-right: 2em;
	}

	.ReviewCard-container {
		border-bottom: solid 1px lightgray;
	}

	.reviews-pencil-icon {
		background: none;
		border: 0;
	}

	.NavBar-container {
		display: none;
	}

	.FooterNav-container {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		align-items: center;
		height: 3rem;
		background-color: #8dd7cf;
		border-top: solid 2px #1aae9f;
		border-bottom: solid 2px #1aae9f;
		position: fixed;
		bottom: 0;
		width: 100vw;
	}

	.FooterNav-container > h2 {
		font-family: 'Roboto';
		font-size: 2rem;
	}

	.footernav-items-div {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		width: 100vw;
		text-align: center;
	}

	.footernav-items-avatar {
		display: flex;
		justify-items: center;
		align-items: center;
		align-content: center;
	}

	.UserHome-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-items: center;
		align-content: center;
		height: 100vh;
		/* width: 100vw; */
		/* overflow: hidden; */
	}

	/* USERDETAILS --------*/
	.UserDetails-container {
		font-family: Roboto;
	}

	.userhome-userdetails-div {
		text-align: center;
	}

	.userdetails-keys {
		text-align: left;
		margin: 1em;
	}

	/* USER GAMES -------------- */

	.userhome-usergames-div {
		margin-left: 0;
		overflow-y: none;
		width: 100vw;
	}

	.userGames-container {
		display: flex;
		flex-direction: column;
		margin: 0em;
		font-family: roboto;
		width: 100%;
	}

	.usergames-info {
		margin-left: 1em;
	}

	.usergames-info > h2 {
		margin-top: 0.2em;
	}

	.usergames-info > h3 {
		margin-top: -0.6em;
	}

	.usergames-cover {
		text-align: center;
	}

	.usergames-cover > img {
		margin-top: 0.4em;
		width: 50%;
		border-radius: 10px;
		box-shadow: 6px 6px #8dd7cf;
	}

	.userhome-usergames-div > h1 {
		font-family: Roboto;
		font-size: 1.5em;
		text-align: center;
	}

	.userhome-usergames-div > h1 > span {
		color: #1aae9f;
	}

	.userhome-usergames-div > h2 {
		font-size: 1em;
		margin: 1em;
	}

	.userhome-usergames-div > h2 > span {
		color: red;
	}

	.userhome-line {
		text-align: center;
		width: 22rem;
		border-bottom: solid 1px gray;
	}

	.SignIn-container {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		height: 100vh;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.SignIn-container > h1 {
		font-family: Roboto;
		font-size: 3.5rem;
		font-weight: bold;
		margin-bottom: 0.3em;
	}

	.SignIn-container > h2 {
		font-family: Roboto;
		font-size: 1rem;
		font-style: italic;
		margin-top: -1em;
	}

	.signin-text {
		font-size: 0.7rem;
		font-family: Roboto;
		font-weight: bold;
	}

	.signin-input-username {
		border: solid 1px lightgray;
		border-radius: 0.25em;
		padding: 0.6em;
		margin: 0.25em;
		width: 300px;
		height: 35px;
	}

	.signin-input-username::placeholder {
		color: lightgray;
	}

	.signin-btn {
		background-color: black;
		color: white;
		border-radius: 0.25em;
		width: 50%;
		border: solid 1px lightgray;
		font-family: Roboto;
		font-weight: bold;
		transition: 0.7s;
		margin: 0.4em;
		height: 35px;
	}

	.signin-btn:hover {
		background-color: green;
		color: white;
		transition: 0.7s;
		width: 95%;
	}

	.signin-signup-btn {
		background-color: rgb(56, 56, 240);
		color: white;
		border-radius: 0.25em;
		width: 11em;
		border: solid 1px lightgray;
		font-family: Roboto;
		font-weight: bold;
		transition: 0.7s;
		margin: 0.4em;
		height: 35px;
	}

	.signin-signup-btn:hover {
		background-color: green;
		color: white;
		transition: 0.7s;
		width: 20em;
		border: transparent;
	}

	.signup-btn {
		background-color: black;
		color: white;
		border-radius: 0.25em;
		width: 50%;
		border: solid 1px lightgray;
		font-family: Roboto;
		font-weight: bold;
		transition: 0.7s;
		margin: 0.4em;
		height: 35px;
	}

	.signup-btn:hover {
		background-color: rgb(47, 47, 240);
		color: white;
		transition: 0.7s;
		width: 100%;
		border: transparent;
	}

	.signin-input-username-div {
		font-family: Roboto;
		font-weight: bold;
		font-size: 0.5em;
		width: 100%;
	}

	.social-auth-icons-container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 100%;
	}

	.social-auth-list {
		list-style: none;
		display: inline;
		margin: 1em;
		padding: 0;
	}

	.social-auth-icons > ul {
		padding: 0;
		list-style-type: none;
	}

	.signin-line-divider {
		background-color: lightgray;
		width: 15em;
		height: 0.1em;
		margin: 1em;
	}
}
