.App {
}

.GameDetails-container {
	width: 300px;
	height: 500px;
	display: flex;
	flex-wrap: wrap;
}

.gamedetails-cover > img {
	width: 300px;
	height: 375px;
	margin: 1rem;
}

.gamedetails-cover > h2 {
	margin-bottom: 0;
}

div.cover-div > img {
	width: 200px;
	height: 275px;
	margin: 1rem;
}

div.game-card-details > h3 {
}

div.game-card-details > b {
}
