body {
	margin: 0;
	/* overflow: hidden; */
	/* background-color: black;
	color: white; */
}

.App {
}

/* NAVBAR ----------------- */
.NavBar-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'a b c';
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	justify-items: center;
	align-items: center;
	align-content: center;
	height: 3rem;
	background-color: #8dd7cf;
	border-top: solid 2px #1aae9f;
	border-bottom: solid 2px #1aae9f;
}

.NavBar-container > h2 {
	font-family: 'Roboto';
	font-size: 2rem;
	/* position: ; */
}

/* GAMEDETAILS ------------ */
.GameDetails-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-content: center;
	border: solid 1px blue;
	font-family: Roboto;
	/* width: 80vw; */
}

.gamedetails-cover {
	margin-left: 10em;
	margin-right: 10em;
	/* border: solid 1px red; */
}

.gamedetails-cover > img {
	float: left;
	vertical-align: middle;
	/* width: 25%; */
	height: 80%;
	margin: 1em;
	border-right: solid 1px lightgray;
	padding-right: 2em;
}

.gamedetails-cover > ul {
	/* display: ; */
	/* grid-template-columns: 1fr; */
	margin-left: 9.8em;
	/* border: solid 1px black; */
	list-style: none;
}

.gamedetails-cover > ul > li {
	display: flex;
	padding: 0.1em;
	margin: 0.25em;
}

.gamedetails-cover > ul > li > span {
	display: flex;
	justify-content: space-between;
}
.gamedetails-cover > h2 {
}

.gamedetails-cover > h3 {
	font-family: Roboto;
	margin-top: -0.5em;
}

.gamedetails-info {
	border: solid 1px green;
}

.ViewGames-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 100%;
}

div.cover-div > img {
	width: 150px;
	height: 200px;
	margin: 1rem;
}

.GameCard-container {
	margin: 1em;
	text-align: center;
	font-family: Roboto;
}

.game-card {
	border: solid 1px lightgray;
	min-width: 16rem;
	max-width: 16rem;
	height: 20rem;
}

.game-card-details > h3 {
	margin-top: -0.5em;
	font-size: 1em;
}

.game-card-details > h4 {
	margin-top: -0.7em;
	margin-left: 1em;
	text-align: left;
	font-size: 0.8em;
}
/* SIGNIN ---------------------- */
.SignIn-container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.SignIn-container > h1 {
	font-family: Roboto;
	font-size: 5rem;
	font-weight: bold;
	margin-bottom: 0.3em;
}

.SignIn-container > h2 {
	font-family: Roboto;
	font-size: 1.5em;
	font-style: italic;
	margin-top: -1em;
}

.signin-text {
	font-size: 0.7rem;
	font-family: Roboto;
	font-weight: bold;
}

.signin-input-username {
	border: solid 1px lightgray;
	border-radius: 0.25em;
	padding: 0.6em;
	margin: 0.25em;
	width: 300px;
	height: 35px;
}

.signin-input-username::placeholder {
	color: lightgray;
}

.signin-btn {
	background-color: black;
	color: white;
	border-radius: 0.25em;
	width: 50%;
	border: solid 1px lightgray;
	font-family: Roboto;
	font-weight: bold;
	transition: 0.7s;
	margin: 0.4em;
	height: 35px;
}

.signin-btn:hover {
	background-color: green;
	color: white;
	transition: 0.7s;
	width: 95%;
}

.signin-signup-btn {
	background-color: rgb(56, 56, 240);
	color: white;
	border-radius: 0.25em;
	width: 11em;
	border: solid 1px lightgray;
	font-family: Roboto;
	font-weight: bold;
	transition: 0.7s;
	margin: 0.4em;
	height: 35px;
}

.signin-signup-btn:hover {
	background-color: green;
	color: white;
	transition: 0.7s;
	width: 20em;
	border: transparent;
}

.signup-btn {
	background-color: black;
	color: white;
	border-radius: 0.25em;
	width: 50%;
	border: solid 1px lightgray;
	font-family: Roboto;
	font-weight: bold;
	transition: 0.7s;
	margin: 0.4em;
	height: 35px;
}

.signup-btn:hover {
	background-color: rgb(47, 47, 240);
	color: white;
	transition: 0.7s;
	width: 100%;
	border: transparent;
}

.signin-input-username-div {
	font-family: Roboto;
	font-weight: bold;
	font-size: 0.5em;
	width: 100%;
}

.social-auth-icons-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
}

.social-auth-list {
	list-style: none;
	display: inline;
	margin: 1em;
}

.signin-line-divider {
	background-color: lightgray;
	width: 15em;
	height: 0.1em;
	margin: 1em;
}

/* SIGNUP ------------------- */
.SignUp-container > h1 {
	font-family: Roboto;
	font-size: 5rem;
	font-weight: bold;
	margin-bottom: 0.3em;
}

.cancel-btn {
	background-color: red;
	color: white;
	border-radius: 0.25em;
	width: 50%;
	border: solid 1px lightgray;
	font-family: Roboto;
	font-weight: bold;
	transition: 0.7s;
	height: 35px;
}

.cancel-btn:hover {
	/* background-color: green; */
	color: white;
	transition: 0.7s;
	width: 100%;
}
/* GAMECARD -----------------  */
div.game-card-details > h3 {
}

div.game-card-details > b {
}

/* USERHOME --------------- */
.UserHome-container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	justify-content: center;
	justify-items: center;
	align-content: center;
	height: 100vh;
	width: 100vw;
	/* overflow: hidden; */
}

/* USERDETAILS --------*/
.UserDetails-container {
	font-family: Roboto;
}

.userdetails-keys {
}

/* USER GAMES -------------- */

.userhome-usergames-div {
	margin-left: 2em;
	/* overflow-y: scroll; */
}
7 .userGames-container {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr;
	border-left: solid 1px lightgray;
	margin: 2em;
	margin-right: 20em;
	font-family: roboto;
	width: 70em;
}

.usergames-info {
	margin-left: 1em;
}

.usergames-info > h2 {
	margin-top: 0.2em;
}

.usergames-info > h3 {
	margin-top: -0.6em;
}

.usergames-cover {
	/* width: 500px; */
}

.usergames-cover > img {
	margin-top: 0.4em;
	width: 100%;
}

.userhome-usergames-div > h1,
h2 {
	font-family: Roboto;
}

.userhome-line {
	width: 80rem;
	border-bottom: solid 1px gray;
}

/* VIEWREVIEWS / REVIEWCARD---------------- */
.ReviewForm-container {
	background-color: #4b5c6b;
	display: flex;
	width: 100%;
	flex-direction: column;
	margin: 0 auto;
}

.ReviewForm-container > h1 {
	font-family: Roboto;
	text-align: center;
	align-items: center;
}

.review-div {
	/* border: solid 5px yellow; */
	margin: 0 auto;
	width: 40vw;
}

.ReviewCard-container {
	border-bottom: solid 1px lightgray;
}

.reviews-pencil-icon {
	background: none;
	border: 0;
}
